<h1>🎓 Student Management System</h1>

<div class="dashboard">

    <div class="card">
        <h2>👨‍🎓 Students</h2>

        <a href="/add">
            <button>Add Student</button>
        </a>

        <br><br>

        <a href="/students">
            <button>View Students</button>
        </a>
    </div>

    <div class="card">
        <h2>📝 Marks</h2>

        <a href="/add_marks">
            <button>Add Marks</button>
        </a>

        <br><br>

        <a href="/marks">
            <button>View Marks</button>
        </a>

        <br><br>

        <a href="/dashboard">
            <button>📊 Dashboard</button>
        </a>
    </div>

</div>